@import '~bootstrap/scss/bootstrap';

$black: #000;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

.success {
  background-color: green;
  color: white;
  font-size: 2em;
}

.failure {
  background-color: red;
  color: white;
  font-size: 2em;
}

.after-auth {
  display: none;
}

.board {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  width: 450px;
  margin: 0 auto;
}

.box {
  width: 150px;
  height: 150px;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
}
