@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$black: #333333;

body {
  font-family: 'Lato', sans-serif;
  color: $black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100vw;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 30px;
  border: dashed;
}

.nav-title {
  margin-right: auto;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.after-auth {
  display: none;
}

.form-container {
  width: 400px;
  height: 450px;
  padding: 50px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.form-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 260px;
}

.form-control {
  margin-bottom: 10px;
}

label {
  margin: 0px;
}

.form-title {
  margin-bottom: 10px;
}

.form-link {
  cursor: pointer;
  color: blue;
  font-weight: 700;
}

.btn {
  margin: 10px 0;
}

.board {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  width: 450px;
  margin: 50px auto;
}

.box {
  width: 150px;
  height: 150px;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}

.game-container {
  text-align: center;
}
